<div id="contact-info--socials" class="flex">
  <img src="/instagram.svg" alt="" />
  <img src="/facebook.svg" alt="" />
  <img src="/whatsapp.svg" alt="" />
</div>

<style>
  #contact-info--socials {
    gap: var(--space-sm);
  }

  img {
    height: 3.4rem;
  }
</style>
